{% extends "base.html" %}

{% block content %}
<section>
    {% for country in countries %}
        <h2>{{ country.name }}</h2>
        {% if country.visited == True %}
            <p>Country has been visited</p>
        {% else %}
            <p>You are yet to visit this country</p>
        {% endif %}
        {% if country.rating is not none %}
            <p>{{ country.rating }}</p>
        {% endif %}
        <a href="/countries/{{ country.id }}">Details</a>
    {% endfor %}
</section>
{% endblock content %}