{% extends "base.html" %}

{% block content %}
<section>
    <h2>{{ country.name }}</h2>
    <form action="/countries/{{ country.id }}/edit">
        <input type="submit" value="Update"/>
    </form>
    {% if country.visited == True %}
            <p>Country has been visited</p>
        {% else %}
            <p>You are yet to visit this country</p>
        {% endif %}
        {% if country.rating is not none %}
            <p>You rated this country {{ country.rating }}/5</p>
        {% endif %}
    {% for city in cities %}
        {{ city.name }}
        <form action="/cities/{{ city.id }}">
            <input type="submit" value="Select"/>
        </form>
        <br>
    {% endfor %}
</section>
    
{% endblock content %}
