{% extends "base.html" %}

{% block content %}
<form action="/cities" method="POST">
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text">
    </div>
    <label for="country">Country:</label>
        <select id="country" name="country_id">
            {% for country in countries %}
            <option value="{{ country.id }}">
                {{ country.name }}
            </option>
            {% endfor %}
        </select>
    <input type="submit">
</form>
{% endblock content %}