<!DOCTYPE html>
<html>
<head>
  <title>Travel Bucket List</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <header>
    <h1>Travel Bucket List</h1>
    <nav>
      <ul class="navbar">
        <li><form action="/">
          <input type="submit" value="Home"/>
          </form></li>
        <li><form action="/countries">
          <input type="submit" value="Countries"/>
          </form></li>
        <li><form action="/countries/new">
          <input type="submit" value="Add Country"/>
          </form></li>
        <li><form action="/cities/new">
          <input type="submit" value="Add City"/>
          </form></li>
      </ul>
    </nav>
  </header>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
</body>
</html>